<% @title = "Help" %>
<div data-role="collapsibleset" data-theme="a" data-content-theme="a">
  <div data-role="collapsible">
    <h4>Add events</h4>
    <p>
      <ol>
        <li>Sign in to your account, or click to <%= link_to "register", signup_path %>.</li>
        <li>Click <strong>Post</strong> to add your event, and add your event details in the form provided.</li>
        <li>To edit, delete, or view your events, go to <strong>Account > My events</strong>.</li>
        <li>Check the <%= link_to "calendar", calendar_path %> to see all events!</li>
      </ol>
    </p>
  </div> <!-- add events -->

  <div data-role="collapsible">
    <h4>Sync with gcal</h4>
    <div style="overflow:auto;">
      <p>
        <ol>
          <li>Sign in to your google account to access your calendar.</li>
          <li>Click the down-arrow next to <strong>Other calendars</strong> (located on the left panel).</li>
          <li>Select <strong>Add by URL</strong> from the menu.</li>
          <li>Enter the following address in the field provided: https://www.google.com/calendar/ical/brgfio9ucid43kbidk37k92v1k%40group.calendar.google.com/public/basic.ics</li>
          <li>Click <strong>Add calendar</strong>. The calendar will appear in the <strong>Other calendars</strong> section of the calendar list to the left.</li>
        </ol>
      </p>
    </div>
  </div> <!-- sync with gcal -->

  <div data-role="collapsible">
    <h4>Sync with iCal</h4>
    <div style="overflow:auto;">
      <p>
        <ol>
          <li>Open the <strong>Calendar</strong> program (in Applications). </li>
          <li>From the <strong>File</strong> menu, select <strong>New Calendar Subscription</strong>.</li>
          <li>Enter the following address in the field provided: https://www.google.com/calendar/ical/brgfio9ucid43kbidk37k92v1k%40group.calendar.google.com/public/basic.ics</li>
          <li>Update the Auto-refresh frequency to <strong>Every day</strong> (just in case an event has been recently added or updated), then click OK.</li>
          <li>The events should now appear in your calendar.</li>
        </ol>
      </p>
    </div>
  </div> <!-- sync with ical -->

  <div data-role="collapsible">
    <h4>Contact us</h4>
    <p>
      If you need any help, please email us at <strong>hms.eventscal@gmail.com</strong> and we will get back to you as soon as possible.
          <br><br>
          Thanks!
          <br>
          Sachin, Abhayjit, and Diana
    </p>
  </div> <!-- contact us -->
</div> <!-- collapsible set -->