<% @title = "Help" %>
<div class="row">
  <aside class="span9">
    <section>
      <h3>Help</h3>
    </section>
  </aside>
</div>
<p>Hey everyone,</p>
<p>We would like to introduce you to the first class-wide events calendar. This site is a way to quickly and easily add, edit, and view events happening around campus. In order to make this a success, we really need student groups to take the initiative and post your events. Simply create an account and begin posting your events for all to see. We haven't fully tested the site, so there are bound to be some bugs. Please let us know if something is not working, or if you have any suggestions, and we'll try and respond ASAP!</p>
<p>Thanks!</p>

<p>Abhayjit and Sachin</p>