<% @title = "Help" %>
<div class="row">
  <aside class="span9">
    <section>
      <h3>Help</h3>
    </section>
  </aside>
</div>
<p>Follow these instructions to get started:</p>
<ol>
	<li>Sign in to your account, or click to <%= link_to "register", signup_path %>.</li>
	<li>Click <strong>Post</strong> to add your event, and add your event details in the form provided.</li>
	<li>To edit, delete, or view your events, go to <strong>Account > My events</strong>.</li>
	<li>Check the <%= link_to "calendar", calendar_path %> to see all events!</li>
</ol>
<p>If you need any help, please email Abhayjit (abhayjit_singh@hms.harvard.edu) or Sachin (sachin_patel@hms.harvard.edu), and we'll get back to you as soon as possible.</p>

<p>Thanks!</p>