<% @title = "Help" %>
<div class="row">
  <aside class="span4">
    <section>
      <h3>Help</h3>
    </section>
  </aside>
</div>
<p>Please email Abhayjit Singh at Abhayjit_Singh [at] hms [dot] harvard [dot] edu for specific queries.</p>