<% @title = "Welcome" %>
<% @boolean = true %>
<div class="center hero-unit welcome">
	<h1>Welcome</h1>
	
	<div style="padding: 30px 10%">
		<p>Welcome to the first class-wide events calendar. This site is a way to quickly and easily add, edit, and view events happening around campus. Follow these <%= link_to "instructions", help_path %> to get started.</p> 
	</div>
	<%= link_to calendar_path, class: "btn btn-default btn-large myButton" do %>
  		<i class="icon-calendar"></i> View
	<% end %>
	<%= link_to post_path, class: "btn btn-default btn-large myButton" do %>
  		<i class="icon-pencil"></i> Post
	<% end %>
	
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50384422-1', 'hmsevents.herokuapp.com');
  ga('send', 'pageview');

</script>