<% @title = "Sample App" %>
<div class="center hero-unit">
	<h1>Hello</h1>
	
	<div style="padding-top: 20px">
		<%= link_to "View events", '#', class: "btn btn-large btn-primary myButton" %>
		<%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary myButton" %>
	</div>
</div>