<div id='calendar'></div>

<!--
<%= calendar @events do |event| %>
  <div>
  	<%= link_to event.tag, event_path(event) %>
  </div>
<% end %>
-->

<script>
$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
        editable: false,
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		},
		eventSources: [{
			ignoreTimezone: false, 
			url: '/calendar.json'
		}],
		titleFormat: {
			month: 'MMMM yyyy',                             // September 2009
    		week: "MMM d[ yyyy]{ '&ndash;'[ MMM] d, yyyy}", // Sep 7 - 13 2009
    		day: 'dddd, MMM d, yyyy'
		}
    })

});
</script>