<!--
<div data-role="header" data-position="fixed" data-theme="b" style="min-height: 20px;">
  <h6><%= @title %></h6>
  <a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
</div>
-->

<div data-role="header" data-position="fixed" style="min-height: 20px;" data-theme="b">
        <h6><%= @title %></h6>
        <a href="#left-panel" data-icon="carat-r" data-iconpos="notext" data-shadow="false" data-iconshadow="false" class="ui-nodisc-icon"></a>
</div><!-- /header -->